<header class="header">
    <img src="./img/Logo.svg" alt="Global"/>
    <nav class="nav">
        @@include('navItem.html',{
            'text': 'Mobile Top Up',
            'class': 'active'
        })
        @@include('navItem.html',{
            'text': 'About'
        })
        @@include('navItem.html',{
            'text': 'Rate'
        })
        @@include('navItem.html',{
            'text': 'Help'
        })
    </nav>
    <div class="header__action">
        @@include('../button.html',{
            'text': 'Sign Up',
            'type': 'header'
        })
    </div>
</header>