:root {
    --bg: #ECF7F3;
    --action: #48B774;
    --white: #FFFFFF;
    --link: #4A4A4A;
    --title: #2D2D2D;
    --orange: #FF8345;
    --discrip: #7C7C7C;
    --plh: #A1A1A1;
    --gray: #707070;
}