<div class="users">
    <div class="users__avatars">
        <img loading="lazy" src="https://picsum.photos/203" alt="avatar" style="z-index: 4">
        <img loading="lazy" src="https://picsum.photos/202" alt="avatar" style="z-index: 3">
        <img loading="lazy" src="https://picsum.photos/201" alt="avatar" style="z-index: 2">
        <div class="users__avatars-more"><img src="./img/plus.svg" alt="more"></div>
    </div>
    <span class="users__span">45k+ Regular User.<a class="price" href=""> View Price Plan</a></span>
</div>