<div class="grl">
    <img class="grl-bg" src="./img/grl.png" alt="">
    <div class="grl__container">
        <div class="grl__container-orbit">

            <div class="sphere" style="--b:0.4;--i:7.2;">
                <img src="./img/sphere1.png" alt="sphere1" class="sphere-img">
            </div>
            <div class="sphere" style="--b:0.8;--i:14.4;margin-top: 4.7rem;">
                <img src="./img/sphere2.png" alt="sphere2" class="sphere-img">
            </div>
            <div class="sphere" style="--b:1.2;--i:21.6;margin-top: 1rem;">
                <img src="./img/sphere3.png" alt="sphere3" class="sphere-img">
            </div>
            <div class="sphere" style="--b:1.6;--i:28.8;">
                <img src="./img/sphere2.png" alt="sphere4" class="sphere-img">
            </div>
            <div class="sphere" style="--b:2.0;--i:36;margin-top: 1rem;">
                <img src="./img/sphere3.png" alt="sphere5" class="sphere-img">
            </div>

        </div>
    </div>
</div>